<!DOCTYPE html>
<html>
    <head>
        <title>Products - Add</title>
    </head>
    <body>
        <h1>Add New Product</h1>
        <form action="/productlist/insert" method="get">
            Type: <input name="_type" type="text" />
            <br />
            Item Name: <input name="item_name" type="text" />
            <br />
            Stock: <input name="stock" type="text" />
            <input type="submit" />

        </form>
    </body>
</html>