<!DOCTYPE html>
<html>
  <head>
    <title>Project 2</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Project 1</h1>
    <p>Use the links below to navigate the Project</p>

    <p>Only Customer and Products have a delete link because the delete will
    cascade to the other tables.</p>

    <a href="/customer/all">All Customers</a>&nbsp
    <a href="/customer/add">ADD Customer</a>
    <br />
    <a href="/order/all">All Orders</a>&nbsp
    <a href="/order/add">ADD Orders</a>
    <br />
    <a href="/categories/all">All Categories</a>&nbsp
    <a href="/categories/add">ADD Categories</a>

    <br />
    <a href="/productlist/all">All Products</a>&nbsp
    <a href="/productlist/add">ADD Products</a>
    <br />
    <a href="/refersto/all">All Pairs</a>&nbsp
    <a href="/refersto/add">ADD Pairs</a>
    <br />
    <br />
    <a href="/subqueries/all">All Subqueries</a>
  </body>
</html>
