<!DOCTYPE html>
<html>
    <head>
        <title>Order - Add</title>
    </head>
    <body>
        <h1>Add New Order</h1>
        <form action="/order/insert" method="get">
            Customer_id: <input name="customer_id" type="text" />
            <br />
            Quantity: <input name="quantity" type="text" />
            <br />
            address: <input name="address" type="text" />
            <input type="submit" />

        </form>
    </body>
</html>