<!DOCTYPE html>
<html>
    <head>
        <title>Pair - Add</title>
    </head>
    <body>
        <h1>Add New Pair</h1>
        <form action="/refersto/insert" method="get">
            Order Number: <input name="order_num" type="text" />
            <br />
            Product Number: <input name="product_num" type="text" />
            <br />
            <input type="submit" />

        </form>
    </body>
</html>