<!DOCTYPE html>
<html>
<head>
    <title>Subqueries</title>
</head>
    <body>
        <h1>Join Subquery</h1>
        <p></p>
    <p></P>

         <table border="1">
         <tr>
         <th>Customer Name</th>
         </tr>
         <% for(var i = 0; i < corr.length; i++) { %>
         <tr>
         <td><%= corr[i]._name %></td>
         </tr>
         <% } %>
         </table>
    </body>
</html>