<!DOCTYPE html>
<html>
<head>
    <title>Subqueries</title>
</head>
    <body>
        <h1>Subqueries</h1>

        <a href="/subqueries/corr">correlated subquery</a>
        <br />
        <a href="/subqueries/join">Join subquery</a>
        <br />
        <a href="/subqueries/in">In subquery</a>

    </body>
</html>