<!DOCTYPE html>
<html>
    <head>
        <title>Categories - Add</title>
    </head>
    <body>
        <h1>Add New Category</h1>
        <form action="/categories/insert" method="get">
            Type: <input name="_type" type="text" />
            <br />
            Color: <input name="color" type="text" />
            <br />
            <input type="submit" />

        </form>
    </body>
</html>