<!DOCTYPE html>
<html>
    <head>
        <title>Customer - Add</title>
    </head>
    <body>
        <h1>Add New Customer</h1>
        <form action="/customer/insert" method="get">
            Name: <input name="_name" type="text" />
            <br />
            Email: <input name="email" type="email" />
            <br />
            Phone Number: <input name="phone_num" type="text" />
            <br />
            <input type="submit" />

        </form>
    </body>
</html>